<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ESBTestSuite" parallel="false" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>
<!--    <test name="ProxyService-Test" preserve-order="true" verbose="2" parallel="false">-->
<!--&lt;!&ndash;        <packages>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="org.wso2.carbon.esb.proxyservice.test.proxyservices"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="org.wso2.carbon.esb.proxyservice.test.customProxy"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="org.wso2.carbon.esb.proxyservice.test.passThroughProxy"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="org.wso2.carbon.esb.proxyservice.test.transformerProxy"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <package name="org.wso2.carbon.esb.proxyservice.test.wsdlBasedProxy"/>&ndash;&gt;-->
<!--            &lt;!&ndash; secureProxy package commented since it requires carbon-identity release for applySecurity functionality-->
<!--                in SecurityConfigAdmin &ndash;&gt;-->
<!--            &lt;!&ndash;package name="org.wso2.carbon.esb.proxyservice.test.secureProxy"/&ndash;&gt;-->
<!--&lt;!&ndash;        </packages>&ndash;&gt;-->
<!--        <classes>-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.WSDLOptionsPickedFromRegistryTestCase">&ndash;&gt;-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <exclude name=".*"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--&lt;!&ndash;            </class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.ProxyServiceEnablingHTTPSTestCase">&ndash;&gt;-->
<!--&lt;!&ndash;                <methods>&ndash;&gt;-->
<!--&lt;!&ndash;                    <exclude name=".*"/>&ndash;&gt;-->
<!--&lt;!&ndash;                </methods>&ndash;&gt;-->
<!--&lt;!&ndash;            </class>&ndash;&gt;-->
<!--            &lt;!&ndash;<class name="org.wso2.carbon.esb.proxyservice.test.wsdlBasedProxy.ESBJAVA4821WSDLProxyServiceDeploymentTestCase">-->
<!--                <methods>-->
<!--                    <exclude name=".*"/>-->
<!--                </methods>-->
<!--            </class>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.PickEndPointFromRegistryTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.ProxyServiceEnablingHTTPTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.ProxyServiceEndPointThroughURLTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.RequestLogLevelFullResponseLogLevelFullTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.RequestLogLevelNoneResponseLogLevelNoneTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.RequestLogLevelSimpleResponseLogLevelSimpleTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.WSDLOptionsSpecifiedInlineTestCase"/>&ndash;&gt;-->
<!--&lt;!&ndash;            <class name="org.wso2.carbon.esb.proxyservice.test.loggingProxy.WSDLOptionsSpecifiedSourceUrlTestCase"/>&ndash;&gt;-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.proxyservices.ProxyServiceHttpToHttpsServiceTestCase"/>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.proxyservices.UrlEncordedFormPostViaProxyTestCase"/>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.passThroughProxy.ProxyServiceEnablingHTTPSTestCase"/>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.passThroughProxy.PassThroughProxyServiceTestCase"/>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.wsdlBasedProxy.ProxyServiceEnablingHTTPSTestCase"/>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.proxyservices.HttpsServiceViaHttpProxyTestCase"/>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.proxyservices.ProxyServiceEndpointBindingsTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="Endpoint-Test" preserve-order="true" verbose="2" parallel="false">
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.endpoint.test"/>-->
<!--        </packages>-->
        <classes>
            <class name="org.wso2.carbon.esb.endpoint.test.InlinedWSDLEndpointTestCase"></class>
        </classes>
    </test>
<!--    <test name="LocalEntry-Test" preserve-order="true" verbose="2">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.localentry.test.general"/>-->
<!--            <package name="org.wso2.carbon.esb.localentry.test"/>-->
<!--        </packages>-->
<!--    </test>-->
<!--    <test name="Rest-API-Test" preserve-order="true" verbose="2" parallel="false">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.rest.test.api"/>-->
<!--        </packages>-->
<!--        <classes>-->
<!--            &lt;!&ndash;<class name="org.wso2.carbon.esb.rest.test.api.ESBJAVA4519TestCase">-->
<!--                <methods>-->
<!--                    <exclude name=".*"/>-->
<!--                </methods>-->
<!--            </class>&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->
<!--    <test name="Rest-API-Header-Test" preserve-order="true" verbose="2" parallel="false">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.rest.test.header"/>-->
<!--        </packages>-->
<!--    </test>-->
<!--    &lt;!&ndash; org.wso2.carbon.esb.rest.test.security  package commented since it requires carbon-identity release for-->
<!--        applySecurity functionality in SecurityConfigAdmin &ndash;&gt;-->
<!--    &lt;!&ndash;test name="POX-security-Test" preserve-order="true" verbose="2">-->
<!--    	<packages>-->
<!--    		<package name="org.wso2.carbon.esb.rest.test.security"/>-->
<!--    	</packages>-->
<!--    </test&ndash;&gt;-->
<!--    <test name="Rest-JSON-Test" preserve-order="true" verbose="2" parallel="false">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.json.test"/>-->
<!--        </packages>-->
<!--    </test>-->
<!--    <test name="CAR-Deployment" preserve-order="true" verbose="2" parallel="false">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.car.deployment.test"/>-->
<!--        </packages>-->
<!--        <classes>-->
<!--            <class name="org.wso2.carbon.esb.car.deployment.test.CAppDeactivateAndRestartTestCase">-->
<!--                <methods>-->
<!--                    <exclude name=".*"/>-->
<!--                </methods>-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="ScheduleTask-Test" preserve-order="true" verbose="2" parallel="false">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.scheduledtask.test"/>-->
<!--        </packages>-->
<!--        <classes>-->
<!--            &lt;!&ndash;<class name="org.wso2.carbon.esb.scheduledtask.test.TaskRedeployWithCappTestCase">-->
<!--                <methods>-->
<!--                    <exclude name=".*"/>-->
<!--                </methods>-->
<!--            </class>&ndash;&gt;-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="Secure-Proxy-Test" preserve-order="true" verbose="2" parallel="false">-->
<!--        <classes>-->
<!--            <class name="org.wso2.carbon.esb.proxyservice.test.secureProxy.SecureProxyUsingPolicyFileInLocalEntryTestCase"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>