<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <!-- This was commented since fails in batch execution - passed locally when individual run-->
    <test name="Server-Stratup" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.mediator.test.smooks.SmooksLargeFileProcessingTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.smooks.SmooksMediatorConfigFromConfigRegistryTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.smooks.SmooksMediatorConfigFromLocalEntryTestCase"/>
            <class name="org.wso2.carbon.esb.mediator.test.validate.ValidateIntegrationDynamicSchemaChangeTestCase"></class>

        </classes>
    </test>

</suite>
