<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ESBTestSuite" parallel="false" configfailurepolicy="continue">
    <listeners>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestManagerListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestReportListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestExecutionListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestSuiteListener"/>
        <listener class-name="org.wso2.carbon.automation.engine.testlisteners.TestTransformerListener"/>
    </listeners>

    <test name="passthru-Transport-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.passthru.transport.test.CheckAuthHeaderOrderTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ESBJAVA4326OverridingHostHeaderTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.PassthroughTransportHttpProxyTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.PttMaximumOpenConnections"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.LocationHeaderWithRelativeURLPathTestCase"/>
            <class name="org.wso2.carbon.esb.passthru.transport.test.ConversionWithNonSOAPContentTypeBackendTestCase"/>
        </classes>
    </test>

    <test name="inbound-Http Endpoint-Test" preserve-order="true" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundTransportTestCase"/>
            <class name="org.wso2.carbon.esb.http.inbound.transport.test.HttpInboundDispatchTestCase"/>
        </classes>
    </test>

    <test name="HTPPS_Inbound_Test" verbose="2">
        <classes>
            <class name="org.wso2.carbon.esb.https.inbound.transport.test.HttpsInboundTransportTestCase"/>
        </classes>
    </test>

<!--    <test name="VFS-transport-Test" preserve-order="true" verbose="2">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.vfs.transport.test.*"/>-->
<!--        </packages>-->
<!--    </test>-->

<!--    <test name="HL7-Tests" preserve-order="true" verbose="2">-->
<!--        <classes>-->
<!--            <class name="org.wso2.carbon.esb.hl7.transport.test.HL7TransportTests"/>-->
<!--            <class name="org.wso2.carbon.esb.hl7.inbound.transport.test.HL7InboundPreprocessorTest"/>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="WebSocket-Inbound-Test" preserve-order="true" verbose="2">-->
<!--        <packages>-->
<!--            <package name="org.wso2.carbon.esb.websocket.inbound.transport.test"/>-->
<!--        </packages>-->
<!--    </test>-->

    <!-- Tests should not be added beyond this point since all those will run with the nhttp transport enabled
    unlike the default axis2.xml-->
</suite>

